# Sets up your environment.
# Copy this file to `env.sh` and *do not check into source control*.

# The location of the API you want to hit. Points to production by default.
export JUDGE_API_URL='https://judge.cb.lk/api/'

# Your API access token. Must be set.
export JUDGE_API_ACCESS_TOKEN='wat wat'

#==== No need to set the below env vars if you are not a Coding Blocks dev
export NOTI_EMAIL='herp@derp.com'
export NOTI_EMAIL_PASS='herpderp'
