# Sets up your environment.
# Copy this file to `env.sh` and *do not check into source control*.

# The location of the API you want to hit. Points to production by default.
export JUDGE_API_URL='http://judge.cb.lk/api/'

# Your API access token. Must be set.
export JUDGE_API_ACCESS_TOKEN='wat wat'
